.get-started {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $bg;
  z-index: 300;
  transform: translateY(100%);
  transition: all 2s;
  
  &__section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  opacity: 0;
  visibility: hidden;
  
  &.show {
	animation-delay: 2s;
	animation-name: Show;
	animation-duration: .5s;
	animation-fill-mode: forwards;
  }
  
  &__logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 25px 0;
	
	img {
	  height: 111px;
	}
  }
  
  &__link {
	padding: 25px 0;
	display: flex;
	
	a {
	  font-size: 16px;
	  line-height: 16px;
	  color: $bg;
	  background: #F1F1F1;
	  padding: 8px;
	  display: inline-block;
	  text-decoration: none;
	  margin-right: 20px;
	  
	  &.active {
		color: #E3E3E3;
		background: $red;
	  }
	  
	  &:last-child {
		margin-right: 0;
	  }
	}
  }
}
