{% set title = "Planet Nostra" %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}
<!--<div class="art scene">-->
<!--  <div class="art__border">-->
<!--    <div class="art__border-line art__border&#45;&#45;bot"></div>-->
<!--    <div class="art__border-line art__border&#45;&#45;left"></div>-->
<!--    <div class="art__border-line art__border&#45;&#45;top"></div>-->
<!--    <div class="art__border-line art__border&#45;&#45;right"></div>-->
<!--  </div>-->
<!--  <div class="art__line art__line&#45;&#45;bot">-->
<!--    YOU NOT SEE <br> AND NOT KNOW-->
<!--  </div>-->
<!--  <div class="art__line art__line&#45;&#45;left">-->
<!--    YOU NOT SEE <br> AND NOT KNOW-->
<!--  </div>-->
<!--  <div class="art__line art__line&#45;&#45;top">-->
<!--    YOU NOT SEE <br> AND NOT KNOW-->
<!--  </div>-->
<!--  <div class="art__line art__line&#45;&#45;right">-->
<!--    YOU NOT SEE <br> AND NOT KNOW-->
<!--  </div>-->
<!--  <img class="art__image" src="./assets/img/art1.png" alt="">-->
<!--  <img class="art__next" src="./assets/img/art1-1.png" alt="">-->
<!--</div>-->

<!--<div class="art scene">-->
<!--  <div class="art__border">-->
<!--    <div class="art__border-line art__border&#45;&#45;bot"></div>-->
<!--    <div class="art__border-line art__border&#45;&#45;left"></div>-->
<!--    <div class="art__border-line art__border&#45;&#45;top"></div>-->
<!--    <div class="art__border-line art__border&#45;&#45;right"></div>-->
<!--  </div>-->
<!--  <div class="art__line art__line&#45;&#45;bot">-->
<!--    THE WORLD<br> YOU LIVE IN-->
<!--  </div>-->
<!--  <div class="art__line art__line&#45;&#45;left">-->
<!--    THE WORLD<br> YOU LIVE IN-->
<!--  </div>-->
<!--  <div class="art__line art__line&#45;&#45;top">-->
<!--    THE WORLD<br> YOU LIVE IN-->
<!--  </div>-->
<!--  <div class="art__line art__line&#45;&#45;right">-->
<!--    THE WORLD<br> YOU LIVE IN-->
<!--  </div>-->
<!--  <img class="art__image" src="./assets/img/art2.png" alt="">-->
<!--  <img class="art__next" src="./assets/img/art2-1.png" alt="">-->
<!--</div>-->

<!--<div class="art scene">-->
<!--  <div class="art__border">-->
<!--    <div class="art__border-line art__border&#45;&#45;bot"></div>-->
<!--    <div class="art__border-line art__border&#45;&#45;left"></div>-->
<!--    <div class="art__border-line art__border&#45;&#45;top"></div>-->
<!--    <div class="art__border-line art__border&#45;&#45;right"></div>-->
<!--  </div>-->
<!--  <div class="art__line art__line&#45;&#45;bot">-->
<!--    WORLD YOUR<br> ANCESTORS LIVED IN-->
<!--  </div>-->
<!--  <div class="art__line art__line&#45;&#45;left">-->
<!--    WORLD YOUR<br> ANCESTORS LIVED IN-->
<!--  </div>-->
<!--  <div class="art__line art__line&#45;&#45;top">-->
<!--    WORLD YOUR<br> ANCESTORS LIVED IN-->
<!--  </div>-->
<!--  <div class="art__line art__line&#45;&#45;right">-->
<!--    WORLD YOUR<br> ANCESTORS LIVED IN-->
<!--  </div>-->
<!--  <img class="art__image" src="./assets/img/art3.png" alt="">-->
<!--  <img class="art__next" src="./assets/img/art3-1.png" alt="">-->
<!--</div>-->

<!--<div class="art puzzle">-->
<!--  <div class="puzzle__top"><span>IF IT WEREN’T FOR THE DEFENDERS,<br> PEOPLE WOULD NO LONG EXIST</span></div>-->
<!--  <div class="puzzle__bot"><span>BUT THE DEFENCE <br> IS WEAKENING</span></div>-->
<!--  <div class="puzzle__image">-->
<!--    <div class="puzzle__image-col">-->
<!--      <img src="./assets/img/art4-1.png" alt="">-->
<!--    </div>-->
<!--    <div class="puzzle__image-col">-->
<!--      <img src="./assets/img/art4-2.png" alt="">-->
<!--    </div>-->
<!--    <div class="puzzle__image-col">-->
<!--      <img src="./assets/img/art4-3.png" alt="">-->
<!--    </div>-->
<!--    <div class="puzzle__image-col">-->
<!--      <img src="./assets/img/art4-4.png" alt="">-->
<!--    </div>-->
<!--    <div class="puzzle__image-col">-->
<!--      <img src="./assets/img/art4-5.png" alt="">-->
<!--    </div>-->
<!--    <div class="puzzle__image-col">-->
<!--      <img src="./assets/img/art4-6.png" alt="">-->
<!--    </div>-->
<!--  </div>-->
<!--  <img class="art__image" src="./assets/img/art4.png" alt="">-->
<!--</div>-->

<div class="art finish">
  <div class="finish__text finish__text--1">
    <p>Earth Resistance Organization</p>
  </div>
  <div class="finish__text finish__text--2">
    <p>Join, get access to secret<br> knowledge and technologies,<br> put on your armor, take<br> weapons</p>
  </div>
  <div class="finish__text finish__text--3">
    <p>LET' KICK ASS ON THESE DAMNED<br> CHTONIA HIDDEN AND SECRETLY<br> KILLING US ON THE STREETS OF<br> OUR TOWNS!
    </p>
  </div>

  <video class="finish__video" autoplay muted>
    <source src="./assets/video/video.mp4#t=1" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
  </video>

  <div class="finish-footer">
    <div class="finish-footer__wrap">
      <div class="finish-footer__item">
        <span class="finish-footer__item-text">Visit the Resistance <br> Training Center</span>
        <a class="finish-footer__item-link" href="#">get started</a>
      </div>
      <div class="finish-footer__item">
        <span class="finish-footer__item-text">Join the ranks of <br> the PLANETA NOSTRA</span>
        <a class="finish-footer__item-link" href="#">get started</a>
      </div>
      <div class="finish-footer__item">
        <span class="finish-footer__item-text">Pre-registration for <br> NFT XR equipment</span>
        <a class="finish-footer__item-link" href="#">get started</a>
      </div>
    </div>
  </div>
</div>

<div class="logo">
  <div class="finish__top"><span>NO MORE IGNORANCE!</span></div>
  <div class="finish__logo">
    <img src="./assets/img/logo.png" alt="">
  </div>
</div>

<div class="get-started">
  <div class="get-started__section">

  </div>
</div>

{% endblock %}
