{% set title = "Planet Nostra" %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}

<div class="video">
  <span class="video__skip btn">skip intro</span>
  <video class="video__item" playsinline controls>
<!--    <source srcset="./assets/video/1284_track.mp4 1023w,-->
<!--                    ./assets/video/1024_track.mp4 1199w,-->
<!--                    ./assets/video/1440_track.mp4 1599w,-->
<!--                    ./assets/video/1920_track.mp4 1600w"-->
<!--            sizes="(max-width: 1024px) 1023px,-->
<!--                    (max-width: 1200px) 1199px,-->
<!--                    (max-width: 1600px) 1599px,-->
<!--                    1600px"-->
<!--            src="./asdasda"-->
<!--            type='video/mp4'-->
<!--    />-->
    <source src="./assets/video/1920_track.mp4" type="video/mp4;" media="(min-width: 1600px)">
  </video>
</div>

<div class="home">
  <video class="home__hover" muted playsinline>
    <source src="./assets/video/video-hover.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
  </video>

  <div class="home__logo">
    <a href="/"><img class="home__logo-img" src="./assets/img/logo.png" alt=""></a>
    <p class="home__logo-descriptor">human Resistance Organization</p>
  </div>

  <div class="home__text">
    <p>
      <b>KICK THE ASSES</b> OF THESE <br> DAMNED CHTONIANS, WHO ARE <br> HIDING OUT AND SECRETLY <b>KILLING <br>
      US</b> ON THE STREETS OF OUR CITIES!
    </p>
  </div>

  <div class="home-btn">
    <div class="home-btn__item">
      <p class="home-btn__item-title">Visit the Resistance <br> Training Center</p>
      <a href="#" class="btn lock">get started</a>
    </div>
    <div class="home-btn__item">
      <p class="home-btn__item-title">Join the ranks of <br> the PLANETA NOSTRA</p>
      <a href="#" class="btn" id="subscribe">get started</a>
    </div>
    <div class="home-btn__item">
      <p class="home-btn__item-title">Pre-registration for <br> NFT XR equipment</p>
      <a href="#" class="btn lock">get started</a>
    </div>
  </div>

  <div class="home-footer">
    <p>
      Powered by <span>Spheroid Universe</span> <br>© Spheroid Universe 2021
    </p>
  </div>

  <div class="modal">
    <span class="modal__close"><img src="./assets/img/close.svg" alt=""></span>
    <form class="modal__form">
      <h2 class="modal__title">Join the ranks of <br> the PLANETA NOSTRA</h2>

      <div class="modal__label">
        <input class="modal__label-input" type="email" placeholder="E-mail" required>
        <button class="modal__label-btn btn">subscribe</button>
      </div>

      <div class="modal__social">
        <a href="#"><img src="./assets/img/discord.svg" alt=""></a>
        <a href="#"><img src="./assets/img/twitter.svg" alt=""></a>
      </div>

    </form>
  </div>
</div>


{% endblock %}
